{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Inicio</title>
</head>
<body>
    <div class="w-100 container">
        <h1 class="display-5">lista de productos</h1>
        <div class="justify-content-end text-end">
            {% if user.id is None %}
            <a href="/login" type="button" class="btn btn-secondary">iniciar</a>
            {% else %}
            <a href="/logout" type="button" class="btn btn-primary">salir</a>
            <span class="badge bg-light text-dark">inicio sesion como: {{user.username}}</span>
            {% endif %}
            <a href="/nuevo" type="button" class="btn btn-dark">nuevo</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-5 g-4">
        {% for p in productos %}
        <a href="/producto/{{p.id}}" style="text-decoration: none; color: white;">
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">{{p.id}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{p.nombre}}</h5>
                    <p class="card-text">{{p.descripcion}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
        </div>
    </div>
</body>
</html>